<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator Page</title>
    <style>
        table
        {
            border:2px solid;
        }
    </style>
</head>
<body>
    <form>
        <table cellpadding="3" align="center">
            <caption><h2>Calculation Application</h2></caption>
            <tr>
                <td>Enter the First Number:</td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <td>Enter the Second Number:</td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" value="Addition"></td>

            </tr>
        </table>
    </form>
</body>
</html>